extends layout

append content
  h1.centered About Partisan
  hr
  .row
    .span8.offset2
      p Partisan Management Group is a highly successful, early stage venture capital investor in medical device companies. Partisan has sought differentiation from other venture groups in four distinct ways:
      ul.differentiation-list
        li: p The funds managed by Partisan are provided entirely by the two principals of the firm.
        li: p Partisan begins by identifying large, unmet medical needs before clinical and investment focus by others. Partisan often creates or licenses intellectual property and initially forms a wholly owned new company.
        li: p Partisan selects a management team whom the principals can treat as partners for the duration of the investment. A cooperative working relationship is enhanced, enabling management to purchase large amounts of founder's stock.
        li: p Partisan principals use their years of industry experience to integrate a new company's operational needs and its investment needs, often acting as senior officers as well as board members. Partisan typically provides the founding round of capital and then leads a seed round with its network of angel investors or selected venture firms.
