extends layout

append content
  h1 Contact Information
  hr
  .row
    .span8.offset2
      h2 Norman Weldon
      address
        | 7026 Timbers Drive
        br
        | Evergreen, CO 80439
        br
        | work: 303-670-1413

      address
        | 6 Ocean Club Drive
        br
        | Amelia Island, FL 32034
        br
        | work: 904-491-8619

      address
        | cell: 303-506-0696
        br
        | email:
        span.email moc.tmgmnasitrap@nodlewrn

      h2 Karen Cassidy
      address
        | 293 Pearl Street
        br
        | Boulder, CO 80302
        br
        | work: 303-444-8983
        br
        | cell: 303-589-0019
        br
        | fax: 303-444-0038
        br
        | email:
        span.email moc.tmgmnasitrap@ydissacjk
