doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Partisan Management Group
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/bootstrap-responsive.min.css', rel='stylesheet')
    link(href='css/site.css', rel='stylesheet')
    //if lt IE 9
      script(src='//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js')
  body
    #wrap
      .container
        .navbar.navbar-inverse
          .navbar-inner
            ul.nav
              li: a(href='/') Home
              li: a(href='about.html') About
              li: a(href='principals.html') Principals
              li: a(href='record.html') Record
              li: a(href='portfolio.html') Portfolio
              li: a(href='contact.html') Contact
        block content
      #push
    #footer
      .navbar.navbar-fixed-bottom.navbar-inverse
        .navbar-inner
          p &copy; Partisan Management Group 2015
    block scripts
      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
      script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/js/bootstrap.min.js')
