extends layout

append content
  h1 Current Investment Portfolio
  hr
  .row
    .span8.offset2
      p Partisan has investments in one public and five private companies at present. Investments in current portfolio companies have tended to be larger than in earlier companies due to the shortage of healthcare venture capital in the past several years. Cash-on-cash returns are lower when Partisan must invest in later stage financings instead of concentrating on seed and Series A rounds as in the past.
      .investment
        p
          span.investment-name: a(href='http://www.neuronetics.com/') Neuronetics, Inc.
          |  was founded in July 2001. Partisan principals and Accuitive Medical Ventures principals provided the seed funding. Subsequent financing has been provided by Accuitive, Three Arch, Investor Growth Capital, Interwest, Onset, Quaker BioVentures, KBL, New Leaf, Pfizer, Polaris, and GE Ventures. Neuronetics has commercialized a technology to non-invasively stimulate brain tissue with pulsed magnetic fields. The initial application is to treat depression. Two randomized, prospective clinical trials have demonstrated that the Company's treatment is highly effective in about 50% of drug-resistant patients. In July 2018, Neuronetics completed an IPO. The stock trades on NASDAQ using the symbol STIM. Neuronetics has a market capitalization of approximately $300 million as of March 2019.
      .investment
        p
          span.investment-name: a(href='http://www.zurexpharma.com/') Zurex Pharma, Inc.
          |  is a specialty pharmaceutical company that was spun out of Ash Access, Inc. to develop novel antimicrobial products.  Zurex has developed formulations to prevent both catheter based and surgical site infections.  Partisan principals have invested modest sums in Zurex Pharma.
      .investment
        p
          span.investment-name: a(href='http://trisaluslife.com/') TriSalus Life Sciences, Inc.
          |  is a successor company to Surefire Medical, Inc.  Surefire initially developed methods and devices to precisely deliver cytotoxic and embolic agents into solid tumors to treat liver cancer. TriSalus has pivoted to focus on delivering immuno-oncology drugs, under controlled pressure, directly into solid tumors—with initial emphasis on pancreatic cancers. The TriSalus pressure enhanced drug delivery system substantially reduces damage to healthy tissues and achieves a major increase in penetration of cancer immunotherapy drugs as compared to present treatment methods. The Company has raised $56 million from Partisan, Tullis Health Investors, High Country Ventures, ORI Capital HK, and several super angel groups.  The company is actively raising additional capital to conduct further clinical trials to improve treatment of pancreatic cancers.  Initial results are highly promising.  Partisan principals and Weldon Foundation own approximately 14% of TriSalus.
      .investment
        p
          span.investment-name: a(href='http://www.preceptismedical.com/') Preceptis Medical, Inc.
          |  was started in 2011 to develop devices to insert tubes into pediatric patient's ear drums to achieve drainage and to stop chronic infections. Present ear tube surgeries require multiple steps with several instruments, take several minutes to complete, and require general anesthesia. Mayo Clinic has published data showing neurologic damage when pediatric patients receive general anesthetic. The Preceptis devices can complete the implantation of ear tubes in seconds with a topical anesthetic. The procedure can be performed in a physician's office rather than in a hospital or in a surgical suite. It is likely that the Preceptis procedure will become the new standard of care in pediatric ENT cases. Partisan principals own 6% of Preceptis.
      .investment
        p
          span.investment-name Enable Injections, Inc.
          |  was founded in 2011 to design, manufacture and sell wearable delivery devices for injectable, biologic drugs. The Enable Injections products can deliver drugs directly from standard vials supplied by all pharmaceutical companies, can reconstitute powdered drugs into liquids as a part of the injection procedure, can inject very viscous drugs, and can inject up to 50 ml. Such products are called bolus injection systems. No other existing drug delivery device can accomplish all of these tasks. Approximately 900 new drugs are being developed that may require bolus injection technology like that being developed by Enable Injections. The total market is expected to reach $8 billion within ten years. Partisan principals have supplied 6% of the invested capital to Enable Injections. Enable Injections has a B2B business model and has partnered with seven pharmaceutical companies to date. Much of the subsequent capital will be supplied by drug company partners.
      .investment
        p
          span.investment-name: a(href='http://www.pdlpharma.com/') Ponce de Leon Health
          |  was founded in Ireland in 2012 by Norman R. Weldon and Thomas D. Weldon and seed financed by the Weldon Foundation and by the Buck Institute for Research on Aging. Over more than a decade The Buck Institute has identified multiple metabolic pathways that slow aging and delay frailty in several model organisms. The Buck identified pathways can be influenced by various drugs, diets and behaviors. Ponce de Leon Health (PDLH) is extending those studies to vertebrates and to humans. PDLH is limiting its studies to combinations of compounds that are available as off-the-shelf substances that do not require drug approvals by the FDA. The objective is to delay aging in humans by several years using multiple "generally regarded as safe" compounds that PDLH will sell to customers just as vitamins and minerals are sold today. The major difference is that the PDLH will have scientific evidence that its product will delay age related frailty in vertebrates, and perhaps eventually have similar evidence in humans. By avoiding the expense of FDA approvals, and by eliminating the delay and expense of insurance company reimbursement, the daily cost of PDLH compounds will be about 3% of an equivalent pharmaceutical product. Ponce de Leon has raised seed and Series A financings and is in process of raising a large Series B financing round. Commercial sales via the Internet are scheduled to begin in mid-2019.
