extends layout

append content
  h1 Current Investment Portfolio
  hr
  .row
    .span8.offset2
      p Partisan has investments in seven private companies at present. Investments in current portfolio companies have tended to be larger than in earlier companies due to the shortage of venture capital in the past several years. Cash-on-cash returns are lower when Partisan must invest in later stage financings instead of concentrating on seed and Series A rounds as in the past.
      .investment
        p
          span.investment-name: a(href='http://www.atricure.com/') AtriCure, Inc.
          |  was started in November 2000 to develop instruments to treat atrial fibrillation by ablating areas of atrial tissue from outside the heart via a minimally invasive surgical approach, mimicking the classic Cox/MAZE procedure. Subsequently, AtriCure has developed and marketed a device to isolate the left atrial appendage to prevent stroke in patients with atrial fibrillation. The Series A and Series B financings were syndicated with USVP, Camden, Charter and Foundation Medical Partners. AtriCure completed an IPO in August 2005 and now has a market value of approximately $500 million. Partisan owned 6% of Atricure initially, but has sold a majority of its holdings. Partisan anticipates a 5.8 times return on its investments in AtriCure.
      .investment
        p
          span.investment-name: a(href='http://www.neuronetics.com/') Neuronetics, Inc.
          |  was founded in July 2001. Partisan principals and Accuitive Medical Ventures principals provided the seed funding. Subsequent financing has been provided by Accuitive, Three Arch, Investor Growth Capital, Interwest, Onset, Quaker BioVentures, KBL, New Leaf, Pfizer and Polaris. Neuronetics is commercializing a technology to non-invasively stimulate brain tissue with pulsed magnetic fields. The initial application is to treat depression. Two randomized, prospective clinical trials have demonstrated that the Company's treatment is highly effective in about 50% of drug-resistant patients. In October 2008 Neuronetics received FDA approval to initiate marketing and has achieved significant sales revenues. Partisan principals and the Weldon Foundation have continued to invest in Neuronetics.
      .investment
        p
          span.investment-name: a(href='http://www.ashaccess.com/') Ash Access, Inc.
          |  was spun out of HemoCleanse in October 2003 to develop improved central venous and peritoneal catheters for hemodialysis patients. The catheter product lines have been licensed to and are marketed by Merit Medical, Inc. In addition, Ash Access developed a catheter lock solution named Zuragen that is used to prevent both coagulation and blood infections for patients using hemodialysis and other long-term, indwelling catheters. Initial clinical trial results for Zuragen have been positive. Zuragen for hemodialysis has been licensed to Fresenius Medical Corporation. Subsequently, Ash Access developed a surgical preparation solution named ZuraPrep. Initial clinical trials of ZuraPrep indicate that it is superior to all presently marketed surgical preparations. ZuraPrep and other related assets have been spun out of Ash Access into a wholly owned subsidiary named Zurex Pharma, Inc. Partisan principals have invested in both Ash Access and in Zurex Pharma.
      .investment
        p
          span.investment-name: a(href='http://www.zspharma.com/') ZS Pharma, Inc.
          |  has developed a portfolio of innovative, non-systemic and selective oral sorbents designed to remove excess potassium, ammonium, urea and phosphate in the stomach and lower intestines in a safe and well tolerated manner. The leading compound, zirconium silicate (ZS-9) is designed to be ingested by patients with hyperkalemia (excess serum potassium.)  Multiple clinical trials have been highly positive. Other investors include HemoCleanse, Alta, Rivervest, Salem, and Devon Park. On June 17, 2014 ZS Pharma completed a highly successful IPO and is now valued at approximately $1 billion. Partisan principals and a related foundation expect to achieve more than a 10 times return on ZSPH.
      .investment
        p
          span.investment-name: a(href='http://surefiremedical.com/') Surefire Medical, Inc.
          |  was founded in August 2009 to develop specialized catheters for site specific drug delivery. The Company's initial goal is to precisely deliver cytotoxic embolic agents into solid tumors to treat liver cancer, substantially reducing damage to adjacent healthy tissues and achieving a major increase in penetration of cancer chemotherapy, as compared to present treatment methods. The Company has raised $26 million from Partisan principals, angel investors, and High Country Ventures. Surefire has extended the development of its product line and has secured FDA clearance to sell seven products in the U.S. and in a number of foreign countries. The majority of the top cancer institutes have adopted the Surefire Infusion System due to its tumor penetration and safety profile. The Company is also exploring the use of Surefire Infusion Systems to treat type 2 diabetes and obesity. Partisan principals and related entities own approximately 27% of Surefire Medical.
      .investment
        p
          span.investment-name: a(href='http://www.preceptismedical.com/') Perceptis Medical, Inc.
          |  was started in 2011 to develop devices to insert tubes into pediatric patient's ear drums to achieve drainage and to stop chronic infections. Present ear tube surgeries require multiple steps with several instruments, take several minutes to complete, and require general anesthesia. Mayo Clinic has published data showing neurologic damage when pediatric patients receive general anesthetic. The Perceptis devices can complete the implantation of ear tubes in seconds and use nitrous oxide (laughing gas) as a temporary anesthetic. Eventually, the procedure can be performed in a physician's office rather than in a hospital. It is likely that the Perceptis procedure will become the new standard of care in pediatric ENT cases. Partisan principals own 11% of Preceptis.
      .investment
        p
          span.investment-name Enable Injections, LLC
          |  was founded in 2011 to design, manufacture and sell wearable delivery devices for injectible drugs. The Enable Injections products can deliver drugs directly from standard vials supplied by all pharmaceutical companies, can reconstitute powdered drugs into liquids as a part of the injection procedure, can inject very viscous drugs, and can inject up to 20 ml. Such products are called bolus injection systems. No other existing drug delivery device can accomplish all of these tasks. Approximately 900 new drugs are being developed that may require bolus injection technology like that being developed by Enable Injections. The total market is expected to reach $8 billion within ten years. Partisan principals have supplied 10% of the seed capital to Enable Injections. Enable Injections has a B2B business model. Most subsequent capital will be non-dilutive and supplied by drug company customers.
