extends layout

append content
  h1 Partisan Principals
  hr
  .row
    .span8.offset2
      p The principals of Partisan have participated in eighteen medical device startups, of which five (Corvita, Novoste, AtriCure, Neuronetics and ZS Pharma) have become public companies; twelve (including three of the public companies) have been sold, and six are public or private operating companies. Four of the Partisan companies developed cardiovascular devices, three have developed drug delivery devices, three have developed specialty pharmaceutical products, three have developed minimally invasive surgical instruments, two treat neurological conditions, one developed a treatment for renal diseases, one pioneered a new dental implant, and one focused on aesthetic medicine. Novoste, AtriCure, and ZS Pharma all achieved market valuations exceeding $1 billion. Neuronetics, TriSalus Life Sciences, Enable Injections and Ponce de Leon Health could eventually reach the Unicorn Club.
      ul.media-list.principals
        li.media
          img.media-object.pull-left(src='img/norm.jpg', alt='Norman Weldon')
          .media-body
            h2 Norman Weldon
            p Dr. Weldon's background is in economics, technology and general management. He has been the CEO of three public companies: CTS Corporation (NYSE CTS), Cordis Corporation (NASDAQ CORD) and Corvita Corporation (NASDAQ CVTA). He has been a co-founder of CTS Microelectronics, Inc., Corvita Corporation, Novoste Puerto Rico, Inc., Novoste Corporation, Enable Medical Corporation, AtriCure, Inc., Medivance, Inc., Neuronetics, Inc., and Ponce de Leon Health.
        li.media
          img.media-object.pull-left(src='img/karen.jpg', alt='Karen Cassidy')
          .media-body
            h2 Karen Cassidy
            p Ms. Cassidy's background is in marketing, venture capital and general management. She held marketing positions with Johnson & Johnson and with Xerox and venture capital positions with Oak Investment Partners and with AEtna Life and Casualty Company. Ms. Cassidy has been CEO of Impla-Med, Inc. and Vice President of Business Development for Surefire Medical (now TriSalus Life Sciences), Corvita Corporation and Symbiosis Corporation. Ms. Cassidy has been a co-founder of Enable Medical Corporation, Medivance, Inc. and AtriCure, Inc. Ms. Cassidy plays a major role in recruiting and mentoring Partisan CEOs, and manages Partisan's liquidity events.
