extends layout

append content
  h1 Investment Record
  hr
  .row
    .span8.offset2
      p Partisan has twelve completed investments. Eleven resulted in successful liquidity events, and one (RxKinetics)  experienced a loss. Our cash-on-cash return to date has been 6.4 times and our IRR to date is 60%. Four of the successful investments (Corvita, Novoste, AtriCure, and ZS Pharma) were syndicated with other venture firms and were taken public. Three (Renal Solutions, RxKinetics, and Liposonix) were syndicated and sold as pre-revenue companies. One (Medivance) was syndicated, operated for thirteen years, and built into a substantial and profitable company and then sold. Three of the other four (Novoste Puerto Rico, Enable Medical and Impla-Med) employed only angel financing. The final company (Symbiosis) was bootstrapped with no outside financing.
      .investment
        p
          span.investment-name Corvita Corporation
          |  developed two new biomaterials and designed endovascular grafts for treatment of thoracic and abdominal aortic aneurysms. Corvita scientists also developed and licensed to Cordis the materials system used to produce most of the angioplasty balloon products now in use throughout the world. The company completed an IPO in November 1994 and was sold to Pfizer in May of 1996. Subsequently, Pfizer sold the business to Boston Scientific. BSX uses a Corvita developed biomaterial as the polymer carrier on all of their drug coated stents. Partisan had a 22 times cash-on-cash return on Corvita.
      .investment
        p
          span.investment-name Novoste Puerto Rico, Inc.
          |  developed and sold outpatient angiographic catheters using a biomaterial custom-developed by Corvita. Most of the company's products were sold to NAMIC USA in May 1992. The remainder of the assets and intellectual property were used to form Novoste Corporation in 1992. Partisan had a 6.4 times return on Novoste Puerto Rico.
      .investment
        p
          span.investment-name Symbiosis Corporation
          |  had total invested capital of only $5,000 and financed its activities with loans and advances from its customers with operating involvement from Partisan principals. Symbiosis was the first company to develop disposable medical devices to perform minimally invasive surgical procedures. The Company's products were marketed by the Microvasive Division of Boston Scientific and by Ethicon Endosurgery. Symbiosis was sold to American Home Products (now Wyeth) in September 1994 for $175 million, and AHP subsequently sold the company to BSX. Partisan principals invested only time and advice and received a return of $2.6 million.
      .investment
        p
          span.investment-name Impla-Med, Inc.
          |  developed and sold an innovative line of dental implants that demonstrated improved healing and mechanical versatility features. The Company was sold to Cookson Group in October 1993. Partisan had a 2.6 times return on Impla-Med.
      .investment
        p
          span.investment-name: a(href='http://www.bestvascular.com/') Novoste Corporation
          |  developed and sold catheters using beta radiation to prevent restenosis of coronary arteries after balloon angioplasty. The Company completed an IPO in May 1996 and became quite successful until its products were largely obsoleted by the development of coated stents. Partisan enjoyed a 39.8 times return on its investment in Novoste.
      .investment
        p
          span.investment-name RxKinetics, Inc.
          |  was founded in April 1997 to commercialize two drug delivery technologies developed at the University of Colorado. In 1999 when RxKinetics needed to obtain Series B round financing, most venture groups were focused on Internet deals. As a result, the B round was dilutive  and was led by a group hostile to Partisan's operating culture. In 2006 RxKinetics was sold to Endo Pharmaceuticals in a milestone based transaction. Partisan received minimal returns on a relatively small investment.
      .investment
        p
          span.investment-name Enable Medical, Inc.
          |  was organized in April 1994 by Partisan principals and former Ethicon Endosurgery employees to develop bipolar RF surgical instruments. The only outside investors were angels  of Partisan spanning successful operating executives, industry analysts and bankers and former employees who had enjoyed large liquidity returns in Partisan’s portfolio. All other investment needs were financed by exchanging Enable intellectual property for equity in CardioThoracic Systems prior to the CTS IPO in 1996. This transaction resulted in a non-equity cash infusion of $10 million. In November 2000, Enable spun off a major development project to a new company named AtriCure. In August 2005, AtriCure completed an IPO and used a portion of the proceeds to purchase its parent, Enable Medical. Partisan achieved an 11.8 times return on Enable Medical.
      .investment
        p
          span.investment-name: a(href='http://www.renalsolutionsinc.com/') Renal Solutions, Inc.
          |  was spun out of HemoCleanse in April 2000 to develop a home hemodialysis system using sorbent regenerated water to treat sleeping patients. Several venture firms invested in subsequent preferred rounds. In October 2007, Fresenius Medical Care AG purchased Renal Solutions for $190 million. Partisan and related entities received a 5.5 times cash-on-cash return on Renal Solutions.
      .investment
        p
          span.investment-name: a(href='http://www.liposonix.com/') Liposonix, Inc.
          |  was founded by The Innovation Factory in 1999 to commercialize high intensity, focused ultrasound energy to non-invasively destroy unwanted fat cells. A Partisan related foundation invested in the Series A round. Subsequent financing was provided by Three Arch, Versant, Delphi, Schroeder, Carlyle, Accuitive Medical Ventures and others. Liposonix was sold in July 2008 to Medicis Pharmaceuticals Corporation for an initial payment of $150 million plus a substantial earnout. The Partisan related foundation received a 7.5 times return.
      .investment
        p
          span.investment-name: a(href='http://www.medivance.com/') Medivance, Inc.
          |  was initially financed in May 1998 by Partisan and angels to develop non-invasive, therapeutic temperature management devices, principally for treating cardiac arrest, stroke, and other brain related medical conditions. Subsequent financings were syndicated with Kimberly Clark, Cross Atlantic, Camden, Skyline, CS First Boston, MDY Healthcare, BlackRock, and others. After achieving substantial revenues and profitability, Medivance was sold to C.R. Bard for $250 million in November 2011. Partisan and related entities achieved a 3.6 times return on Medivance.
      .investment
        p
          span.investment-name: a(href='http://www.atricure.com/') AtriCure, Inc.
          |  was started in November 2000 to develop instruments to treat atrial fibrillation by ablating areas of atrial tissue from outside the heart via a minimally invasive surgical approach, mimicking the classic Cox/MAZE procedure. Subsequently, AtriCure has developed and marketed a device to isolate the left atrial appendage to prevent stroke in patients with atrial fibrillation. The Series A and Series B financings were syndicated with Partisan, USVP, Camden, Charter and Foundation Medical Partners. AtriCure completed an IPO in August 2005 and now has a market value of approximately $650 million. Partisan owned 6% of AtriCure initially, but has sold its holdings in open market transactions. Partisan received a 5.8 times return on its investments in AtriCure.
      .investment
        p
          span.investment-name: a(href='http://www.zspharma.com/') ZS Pharma, Inc.
          |  developed a portfolio of innovative, non-systemic and selective oral sorbents designed to remove excess potassium, ammonium, urea and phosphate in the stomach and lower intestines in a safe and well tolerated manner. The leading compound, zirconium silicate (ZS-9), is ingested by patients with hyperkalemia (excess serum potassium). Other investors include HemoCleanse (ZS Pharma was spun out of HemoCleanse), Alta, Rivervest, Salem, Devon Park and multiple late stage crossover investors. On June 17, 2014 ZS Pharma completed a highly successful IPO. On December 17, 2015 AstraZeneca acquired ZS Pharma for $2.7 billion in cash. Partisan achieved a 13.4 times return on ZSPH.
